h1,h2,h3,h4 {
	color: navy;
}
h1,h2 {
	text-align: center;
}
#partieCentrale {
	width: 100%;
}

.centre {
	margin-left: auto;
	margin-right: auto;
}

.centretxt {
	text-align: center;
}


#partiePrincipale {
	margin-left: 18%;
}
div {
    border-style: solid;
    border-width: 1px;
}
.copyright {
	text-align: center;
	font-size: 0.7em;
}
.accesskey {
	text-decoration: underline;
}
.admin {
    color: #99182C;
}
#piedDePage {
	text-align:center;
}
