h1,h2,h3,h4 {
	color: navy;
}
h1,h2 {
	text-align: center;
}
#partieCentrale {
	display: table;
	width: 100%;
}

#menuContextuel {
	float: left;
	width: 16%;
}

#partiePrincipale {
	margin-left: 18%;
}
div {
    border-style: solid;
    border-width: 1px;
		border-radius: 5px;
}
#piedDePage {
	text-align:center;
}
.copyright {
	text-align: center;
	font-size: 0.7em;
}
